*{
	box-sizing: border-box;
}

body {
  background-color: black;
}

aside{
	width: 76%;
	height: 100vh;
	float: right;
	margin: 2vh 0px;
	margin-right: 2vw;
}
aside iframe{
	width: 100%;
	height: 100vh;
}
*/
