* {
  box-sizing: border-box;
}

body {
  background: url("https://cdn.pixabay.com/photo/2017/12/28/22/03/lens-3046269_960_720.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  background-size: cover;
  max-width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
div.navbar-nav a.active {
    color: grey !important;
}
.opaque-navbar {
  background-color: rgba(0, 0, 0, 0.7);
  height: 59px;
  border-bottom: 0px;
  transition: background-color .5s ease 0s;
  font-size: 15px;
}

.main {
  margin-top: 13%;
  margin-bottom: 1%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
  color: white;
  font-size: 15px;
}
h1{
  font-size: 30px;
  text-shadow: 3px 3px 2px #000;
}
p{
   text-shadow: 3px 3px 2px #000;
   font-size: 28px;
}

.piePage {
  width: 100%;
  height: 3%;
  position: absolute;
  color: white;
  opacity: 0.5;
  background: black;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.modal-header, h5 {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center !important;
  font-size: 30px;
}

.checkbox {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 5px;
  border-radius: 4px;
  background: rgba(3, 3, 3, 0.2);
  display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background: rgba(3, 3, 3, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.5);
  color: #fff;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: #fff;
}

#remember-container {
  padding-top: 3%;
}
