* {
  box-sizing: border-box;
}

body {
  background: url("https://cdn.pixabay.com/photo/2017/12/28/22/03/lens-3046269_960_720.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;

}

div.navbar-nav a.active {
    color: grey !important;
}

.opaque-navbar {
  background-color: rgba(0, 0, 0, 0.7);
  height: 59px;
  border-bottom: 0px;
  transition: background-color .5s ease 0s;
  font-size: 15px;
}


.titulo {
     font-size: 55px;
     text-transform: uppercase;
     letter-spacing: 7px;
}

.galeria img {
     box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
     border-radius: 15px;
}

.materialbox-caption {
     bottom: 30px;
     right: 0;
     width: 40%;
     height: auto;
     padding: 10px;
     margin: auto;
     background: #000;
     box-shadow: 5px 5px #fff;
     font-size: 20px;
     color: #fff;
     line-height: 28px;
}

.galeria .col {
     margin-bottom: 20px;
}

.piePage {
  width: 100%;
  height: 3%;
  position: absolute;
  color: white;
  opacity: 0.5;
  background: black;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
@media screen and (max-width: 600px){
     .materialbox-caption {
          width: 90%;
     }
}

@media screen and (max-width: 992px){
     .materialbox-caption {
          width: 70%;
     }


@media (max-width: 992px) {
  body {
    background: url("https://cdn.pixabay.com/photo/2017/12/28/22/03/lens-3046269_960_720.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }
  
}
